In [73]:
sentence = """ Mohammad Tusher began building Khanvila at the
         age of 26."""

In [74]:
sentence.split()

['Mohammad',
 'Tusher',
 'began',
 'building',
 'Khanvila',
 'at',
 'the',
 'age',
 'of',
 '26.']

In [75]:
str.split(sentence)

['Mohammad',
 'Tusher',
 'began',
 'building',
 'Khanvila',
 'at',
 'the',
 'age',
 'of',
 '26.']

In [76]:
import numpy as np

In [77]:
token_sequence = str.split(sentence)

In [78]:
vocab = sorted(set(token_sequence))

In [79]:
', '.join(vocab)

'26., Khanvila, Mohammad, Tusher, age, at, began, building, of, the'

In [80]:
num_tokens = len(token_sequence)

In [81]:
vocab_size = len(vocab)

In [82]:
onehot_vectors = np.zeros((num_tokens,
                         vocab_size), int)

In [83]:
for i, word in enumerate(token_sequence):
    onehot_vectors[i, vocab.index(word)] = 1

In [84]:
' '.join(vocab)

'26. Khanvila Mohammad Tusher age at began building of the'

In [85]:
onehot_vectors

array([[0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [86]:
import pandas as pd

In [87]:
pd.DataFrame(onehot_vectors, columns=vocab)

   26.  Khanvila  Mohammad  Tusher  age  at  began  building  of  the
0    0         0         1       0    0   0      0         0   0    0
1    0         0         0       1    0   0      0         0   0    0
2    0         0         0       0    0   0      1         0   0    0
3    0         0         0       0    0   0      0         1   0    0
4    0         1         0       0    0   0      0         0   0    0
5    0         0         0       0    0   1      0         0   0    0
6    0         0         0       0    0   0      0         0   0    1
7    0         0         0       0    1   0      0         0   0    0
8    0         0         0       0    0   0      0         0   1    0
9    1         0         0       0    0   0      0         0   0    0

In [88]:
df = pd.DataFrame(onehot_vectors, columns=vocab)

In [89]:
df[df == 0]= ''

df

In [90]:
num_rows = 3000 * 3500 * 15

In [91]:
num_rows

157500000

In [92]:
num_bytes = num_rows * 1000000

In [93]:
num_bytes

157500000000000

In [94]:
num_bytes / 1e9

157500.0

In [95]:
_ / 1000

157.5

In [96]:
sentence_bow = {}

In [97]:
for token in sentence.split():
    sentence_bow[token] = 1

In [98]:
sorted(sentence_bow.items())

[('26.', 1),
 ('Khanvila', 1),
 ('Mohammad', 1),
 ('Tusher', 1),
 ('age', 1),
 ('at', 1),
 ('began', 1),
 ('building', 1),
 ('of', 1),
 ('the', 1)]

In [99]:
df = pd.DataFrame(pd.Series(dict([(token, 1) for token in
        sentence.split()])), columns=['sent']).T

In [100]:
df

      Mohammad  Tusher  began  building  Khanvila  at  the  age  of  26.
sent         1       1      1         1         1   1    1    1   1    1

In [101]:
sentences = """Mohammad Tusher began building Khanvila at the \
age of 26. \n"""

In [102]:
sentences += """Construstion was done mostly by local masons and\
 carpenters.\n"""

In [103]:
sentences += "He moved into the south Pavilion in 1770.\n"

In [104]:
sentences += """Turning Khanvila into a neoclassical masterpice\
   was Khan's obession."""

In [105]:
corpus = {}

In [106]:
for i, sent in enumerate(sentences.split('\n')):
    corpus['sent{}'.format(i)] = dict((tok, 1) for tok in 
    sent.split())

In [107]:
df = pd.DataFrame.from_records(corpus).fillna(0).astype(int).T

In [108]:
df[df.columns[:10]]

       Mohammad  Tusher  began  building  Khanvila  at  the  age  of  26.
sent0         1       1      1         1         1   1    1    1   1    1
sent1         0       0      0         0         0   0    0    0   0    0
sent2         0       0      0         0         0   0    1    0   0    0
sent3         0       0      0         0         1   0    0    0   0    0

In [109]:
v1 = pd.np.array([8, 3, 12])
v2 = pd.np.array([10, 5, 23])

In [110]:
v1.dot(v2)

371

In [111]:
(v1 * v2).sum()

371

In [112]:
sum([x1 * x2 for x1, x2 in zip(v1, v2)])

371

In [113]:
df = df.T

In [114]:
df.sent0.dot(df.sent1)

0

In [115]:
df.sent0.dot(df.sent2)

1

In [116]:
df.sent0.dot(df.sent3)

1

In [117]:
[(k, v) for (k, v) in (df.sent0 & df.sent3).items() if v]

[('Khanvila', 1)]

In [119]:
import re

In [120]:
sentence = """Mohammad Tusher began building Khanvila at the\
    age of 26."""

In [ ]:
tokens = re.spit(r'[-\s.,;!?]+)